SV/*
總成績/*
midterm/*

HW1/1131_hw1_main/00_TESTBED/MPLIN_pattern/*
HW1/1131_hw1_main/00_TESTBED/WONG_pattern/*
HW1/1131_hw1_main/00_TESTBED/WU_pattern/*
HW1/1131_hw1_main/00_TESTBED/YANG_pattern/*
HW1/1131_hw1_main/00_TESTBED/YP_pattern/*
HW1/score/hw1_score_v2.xlsx

HW2/score/1131_hw2_grade.xlsx

HW3/1131_hw3_main/00_TESTBED/testbench_v2.v
HW3/1131_hw3_main/00_TESTBED/testbench.v
HW3/1131_hw3_main/sram_256x8/*
HW3/1131_hw3_main/sram_512x8/*
HW3/1131_hw3_main/sram_4096x8/*
HW3/tar_files/1131_hw3.tar
HW3/score/hw3_score_1.png
HW3/score/hw3_score_2.png
HW3/score/hw3_score_3.png
HW3/score/hw3_score_4.png
HW3/score/hw3_score_5.png
HW3/score/hw3_score_6.png

HW4/score/hw4_grade_release_v2.xlsx

HW5/tar_files/sram_lef/*
HW5/tar_files/sram_lef.zip
HW5/score/113-1_hw5_grade_release.xlsx

FINAL/1131_final_main/04_APR/APR_v1/*
FINAL/1131_final_main/04_APR/APR_v2/*
FINAL/1131_final_main/04_APR/APR_v3/*
FINAL/1131_final_main/04_APR/APR_v4/*
FINAL/1131_final_main/04_APR/APR_v5/*
FINAL/1131_final_main/04_APR/APR_v6/*
FINAL/說明文件/CVSD final project.docx
FINAL/說明文件/CVSD final project.pdf
FINAL/說明文件/final_arch.drawio
FINAL/說明文件/Final_mod_mul_horizontal.pdf
FINAL/說明文件/Final_mod_mul.docx 
FINAL/說明文件/latex_and_report_link.txt
FINAL/DOWNLOAD_FILE/*
FINAL/UPLOAD_FILE/*
FINAL/score/*
